@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Calculator;
  src: url("../assets/fonts/Calculator.ttf");
}

.visorFont {
  font-family: "Calculator";
}

/* Overrides */
html,
body,
#root {
  overflow-x: hidden;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* Componentes Tailwind */
@layer components {
  .btn-calculadora {
    @apply bg-gray-700 w-[50px] h-[50px] min-w-[50px] text-gray-300 text-3xl grid place-items-center rounded hover:bg-gray-600 cursor-pointer;
  }
  .numero-historico {
    @apply border-none bg-transparent  focus-visible:outline-none p-0;
  }
}
